<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${currentdir}/../logs/internal-nlog-AspNetCore.txt">

	<variable name ="logDirectory" value ="${currentdir}/../logs/${shortdate}"/>
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="write-all" fileName="${logDirectory}/all-logs.log"
				layout="+ ${longdate} | ${level:uppercase=true} | ${callsite} | Message: ${message}${exception:format=tostring}${newline}" />

		<target xsi:type="File" name="backend-api" fileName="${logDirectory}/backend-api-logs.log"
				layout="${level:uppercase=true} | (${longdate}) | Metod: ${callsite} | Message: ${message}${exception:format=tostring}${newline}" />

		<target xsi:type="File" name="errors" fileName="${logDirectory}/errors.log"
				layout="-------------- ${level:uppercase=true} (${longdate}) --------------${newline}
${newline}
Metod: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Message: ${message}${newline}" />

		<target xsi:type="Console" name="lifetime-сonsole" layout="${MicrosoftConsoleLayout}" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="write-all" />

		<logger name="Microsoft.EntityFrameworkCore" minlevel="Info" writeTo="lifetime-сonsole"/>
		<logger name="*" minlevel="Info" writeTo="lifetime-сonsole" />

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="backend-api"/>
		<logger name="Microsoft.*" maxlevel="Info" final="true"/>
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="backend-api" />

		<logger name="*" minlevel="Error" writeTo="errors" />
	</rules>
</nlog>
